<footer class="bg-navy text-white py-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5 class="text-gold mb-3">Financial News Context</h5>
        <p class="text-white-50">Financial news, straight from the source. We transform financial company press releases into clear, concise news coverage.</p>
      </div>
      <div class="col-md-3">
        <h6 class="text-gold mb-3">Navigation</h6>
        <ul class="list-unstyled">
          <li><a href="{{ '/' | relative_url }}" class="text-white-50 text-decoration-none">Home</a></li>
          <li><a href="{{ '/news/' | relative_url }}" class="text-white-50 text-decoration-none">News</a></li>
          <li><a href="{{ '/about/' | relative_url }}" class="text-white-50 text-decoration-none">About</a></li>
          <li><a href="{{ '/submit/' | relative_url }}" class="text-white-50 text-decoration-none">Submit News</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6 class="text-gold mb-3">Companies</h6>
        <ul class="list-unstyled text-white-50 small">
          <li>Bank of America</li>
          <li>Visa</li>
          <li>JP Morgan Chase</li>
          <li>Fidelity Investments</li>
          <li>PayPal</li>
          <li>And more...</li>
        </ul>
      </div>
    </div>
    <hr class="border-secondary mt-4">
    <p class="text-white-50 small mb-0">&copy; {{ 'now' | date: '%Y' }} Financial News Context. All rights reserved.</p>
  </div>
</footer>
